.app {
    width: 100%;
    height: 100%;
    background-color: #f1f2f5;
}

.app_headerContainer {
    display: block;
}

.app_bodyContainer {
    display: flex;
}

.app_sidebarContainer {
    max-width: 360px;
}

.app_feedContainer {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.app_widgetsContainer {
    max-width: 360px;
    margin: 0 20px auto auto;
}