/* Global Header bar */
.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

/* Left side of Header */
.header_left {
    display: flex;
    justify-content: space-evenly;
    max-width: 360px;
}

.header_input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header_left > img {
    height: 40px;
}

.header_input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

/* Center of Header */
.header_center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header_option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.header_option:hover:not(:focus) {
    background-color: #eff2f5;
    border-radius: 10px;
    border-bottom: none;
}

.header_option:focus {
    outline: 0;
    border-bottom: 4px solid #2e81f4;
}

/* Note: .MuiSvgIcon-root <-- Default class for material-ui icons */
.header_option > .MuiSvgIcon-root {
    color: gray;
}

.header_option:focus > .MuiSvgIcon-root{
    color: #2e81f4;
}

/* Right side of Header */
.header_right {
    display: flex;
    max-width: 360px;
}

.header_right > button {
    background-color: #e4e6eb;
    margin: 0 8px;
}

.header_right > button:hover {
    background-color: #d5d7db;
    
}

.header_info {
    display: flex;
    align-items: center;
}

.header_info > h4 {
    margin-left: 10px;
}

