/* Post Container */
.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

/* Post Top portion */
.post_top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 15px;
}

.post_avatar {
    margin-right: 10px;
}

.post_topInfo > h3 {
    font-size: medium;
}

.post_topInfo > p {
    font-size: small;
    color: gray
}

/* Post Bottom portion */

.post_bottom {
    margin-bottom: 10px;
    padding: 0 15px;
}

/* Post Image */
.post_image {
    border-top: 1px solid lightgray;
    background-color: black;
}

.post_image > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

/* Post option: Likes, Comment, Share, etc... */
.post_options {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    padding: 10px 15px;
}

.post_option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post_option:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #eff2f5;
}

.post_option > p {
    margin-left: 10px;
}
