.widgets {
    display: block;
    padding-left: 20px;
}

.widgets > * {
    border-bottom: 1px solid gray;
}

.widgets > iframe {
    display: block;
    border: none;
    overflow: hidden;
    margin-bottom: 20px;
}